@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}
.blank{
    display: none;
}
html,body{
    height: 100%;
}
   
::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}

.screen{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #28282b;
    background-image:url(/bgc-new-removebg.png);
background-repeat: none;
background-size: cover;
}
.login-div{
    height:250px;
    width:400px;
    background-color:#28282b;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login-image{
  height:100px;
  width: 100px;
  border-radius: 50px;
}
.login-btn{
    height: 40px;
    width:auto;
    border-radius: 30px;
    padding: 10px 10px ;
    font-family: "Poppins";
    color:#fff ;
    background-color: #00acee;
    border: none;
}
.login-text{
    color: #696969;
    font-family: "Poppins";
    font-size: 12px;
}
.user-interface{
 height: 100%;
 width: 100%;
 background-color: #28282b;

}

.main-container{
 display: flex;
 width: 100%;
 height: 100%;
 border: 1px solid #696969;

 
}
.main-container-adjust{
background-image: url(/bgc-new-removebg.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #28282b;
}
.main-body-left{
  background-color: #28282b;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #696969;
}
.upper-navbar-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap:330px; */
    padding:10px 1rem;
    align-items: center;
    border-bottom: 1px solid #696969;
}
.user-profile-picture{
    height:45px;
    width:45px;
    border-radius: 40px;
}
.logout-btn{
   background-color:#28282b;
   border: none;
   outline: none;
   padding-bottom:5px ;
   /* width:20px; */
   color: #fff;
}

.main-body-right{
    width: 70%;
    min-height:100%;
    
   

    
    
}
.profiles{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x:hidden ;
    overflow-y: scroll;
    
}
.side-profiles{
    background-color: #28282b;
    border: none;
    gap: 0.5rem;
    
}
.button-inner{
   display: flex;
   justify-content:left;
   align-items: center;
   padding-left:15px;
   gap:15px;
}
.side-profiles-img{
    height: 45px;
    width:45px;
    border-radius: 40px;
}
.side-profiles-text{
    font-family: "Poppins";
    font-size: 16px;
    height: 100%;
    width: 84%;
    padding: 20px 0px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid rgba(134,150,160,0.15);
}
.upper-navbar-right{
    position: fixed;
    top:0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    height: 67px;
    border-bottom: 1px solid #696969;
    padding: 0 1rem;
    /* background-color: aqua; */
}
.user-det{
    display: flex;
    /* justify-content: space-between; */
    gap:1rem;
    align-items: center;
}
.exit-btn{
    display: none;
}
.message-input-area{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    
    border-top:1px solid #696969 ;
    padding: 15px 10px;
    width: 70%;
    gap:25px;
}
.user-input{
    width:864px;
    height: 45px;
    border-radius: 12px;
    outline: none;
    font-family: "Poppins";
    letter-spacing: 1px;
    font-size: 18px;
    background-color: #28282b;
    border: 1px solid #696969;
    color: #fff;
    padding-inline:1rem;
}
.message-send-btn{
    height: 45px;
    width: 45px;
    border-radius: 40px;
    border: none;
    background-color: #00acee;
    flex-shrink: 0;
    
}
svg{
    fill:#fff
}
.message-container{
    position: fixed;
    top:68px;
    height:78%;
    width: 70%;
    background-color: #28282b;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image:url(/bgc-new-removebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.current-clicked-user{
    height: 50px;
    width: 50px;
    border-radius: 40px;
    /* margin-left: 40px; */
    
}
.current-clicked-text{
    font-family: "Poppins";
    font-size: 18px;
    color: #fff;
}
.active{
    background-color: #696969;
}
.message-inside-div{
    width: 70%;
    display: flex;
}
.message-inside-inside-div{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    gap:10px;
}
.message{
    background-color: #00acee;
    font-family: "Poppins";
    font-size: 18px;
    border-radius: 8px;
    padding: 7px 7px;
    letter-spacing: 0.5px;
    color: #fff;
    
}
.message-profile{
 height:45px;
 width:45px;
 border-radius: 30px;
}
@media screen and (max-width: 480px){
    .login-div{
        width: 330px;
    }
   .main-body-left{
    width: 100%;
   }
   .new-blank{
    display: none;
   }
   .main-body-right{
    width: 100%;
   }
 
   .exit-btn{
    display: block;
  
    /* position: absolute;
    left:350px; */
    background-color: #28282b;
    border: none;
    color: #fff;
   }
   .current-clicked-user{
     margin-left: 10px;
   }
   
   
   .message-container{
    width: 100%;
   }
   .message-inside-inside-div{
    padding: 10px 10px;
   }
   .user-input{
    width:100%;
   }
   
   .message-input-area{
    width: 100%;
    gap: 20px;
   }
   .upper-navbar-right{
    width: 100%;
   }
}