@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/test3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.blank{
    display: none;
}
.main-container{
    position: relative;
    top:75px;
    height: 0;
    width: 712px;
    border-top:  420px solid #696969;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     display: flex;
     justify-content: center;
     align-items: center;
  }
   
    
.screen{
    height:415px;
    width: 700px;
    position: absolute;
    bottom: 2px;
    display: flex;
     justify-content: center;
     align-items: center;
}
.login-div{
    height:250px;
    width:400px;
    background-color:#28282b;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login-image{
  height:100px;
  width: 100px;
  border-radius: 50px;
}
.login-btn{
    height: 40px;
    width:auto;
    border-radius: 30px;
    padding: 10px 10px ;
    font-family: "Poppins";
    color:#fff ;
    background-color: #00acee;
    border: none;
}
.login-text{
    color: #696969;
    font-family: "Poppins";
    font-size: 12px;
}
.user-interface{
    height: 400px;
    width:650px;
    background-color: #28282b;
    border:1px solid black
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4); */
}
.upper-navbar{
    display: flex;
    justify-content: center;
    width:100%;
    
}
.upper-navbar-left{
    height: 50px;
    width:50%;
    border:1px solid rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    gap:165px;
    align-items: center;
    
}
.user-profile-picture{
height: 30px;
width: 30px;
border-radius:30px ;
}
.logout-btn{
    height:40px;
    width:20px;
    padding-left: 8px;
    background-color: #28282b;
    color: #fff;
    border: none;

}
.upper-navbar-right{
     height: 50px;
    width:90%;
    border:1px solid rgba(255,255,255,0.1);
    
}
.main-body{
  display: flex;
  justify-content: center;
}
.main-body-left{
    height:350px;
    width:50%;
   border:1px solid rgba(255,255,255,0.1);
   display: flex;
   flex-direction: column;


}
.main-body-right{
    display: flex;
    height:350px;
    width:90%;
   border:1px solid rgba(255,255,255,0.1);
  
  
}
.message-input-area{
    padding: 16px 8px;
    border-top: 1px solid rgba(255,255,255,0.1);;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 7px;
    align-items: center;
  
    
}
.user-input{
    height: 40px;
    width:350px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-size: 18px;
    letter-spacing: 1px;
}
.message-send-btn{
    
   height: 40px;
   width: 40px;
   border-radius: 40px;
   border: none;
   background-color: #00acee;
   fill:white;
}
.side-profiles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    /* border-bottom: 1px solid rgba(255,255,255,0.1) ; */
    background-color: #28282b;
    padding: 5px;
    
}
.side-profiles-img{
    height:35px;
    width:35px;
    border-radius: 40px;
    
}
.side-profiles-text{
    /* height: 100%; */
   width:185px;
   display: flex;
   justify-content: left;
   border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 10px;
    font-family: "Poppins";
    color: #fff;
}